body {
	background-color: rgb(20,20,20);
	margin: 0;
	color: #fff;
	font-family: arial, serif;
}

a {
	text-decoration: none;
}

#main {
	margin: 0 12.5%;
	background-color: rgb(40, 40, 40);
	height: 100vh;
	min-height: 100%;
}

#copyright {
	margin: 10px;
}

.append a, .section-3 a {
	color: #fff;
	text-decoration: underline;
}

.append {
	margin: 0 15px;
}

.section-1, .section-2 {
    display: inline-block;
}

.section-1 {
	font-size: 18px;
	margin: 2%;
	font-family: 'Open Sans', arial;
	max-width: 70%;
	clear: both;
}

.section-2 {
	float: right;
	clear: both;
}

.section-3 {
	clear: both;
	padding-top: 100px;
	font-family: 'Open Sans', arial;
	font-size: 18px;
}

.section-3 img {
	float: left;
}

.section-4 {
	float: left;
	max-width: 70%;
}

/* Navbar */
#nav {
	width: auto;
    background-color: rgba(200,200,200,0.25);
    padding: 10px 0;
	margin-bottom: 10px;
    font-family: 'Roboto Slab', arial;
}

#nav .nav-inner > div {
	display: inline;
}

#nav .nav-inner > div:last-of-type {
	float: right;
}

#nav .nav-inner {
	padding: 0;
	margin: 0;
}

#nav a {
	color: #000;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 15px;
}

#nav a:hover {
	background-color:rgba(0, 0, 0, 0.1);
}

#page-footer {  
  position: absolute;
  bottom: 0;
  height: 2.5rem;    
  margin-bottom: 1px;  
  font-family: 'Roboto Slab', arial;
}

#logo {
	height: 75px;
	margin: 10px;
}

#header {
	background-color: rgb(255,255,255);
}

/* Table Styling */

#user-info {
	margin: 10px;
	width: 400px;
}

#user-info div:nth-child(2n+1) > div {
	background-color: rgba(0, 0, 0, 0.5);
}

#user-info th {
	padding: 8px 8px;
	background-color: rgba(0, 0, 0, 0.75);
}

#user-info td {
	border-bottom: 1px solid #aaa;
	padding: 10px 20px;
}

#tablehead {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

#wsb-link {
	font-color: #fff;
	text-decoration: underline; 
}
.table-head {
    float: left;
    width: min(25% - 20px);
    padding: 10px;
	white-space: nowrap;
}
